body{
	width: 97%;
}
li a{
	color: black;
    text-shadow: 0 0 black;
      }
.col-sm-4{
	    width: 16%;
}
.col-sm-6{
	padding-top: 3%;
    margin-left: 4%;
	width: 45%;
}



  
	  
	 


   

